<div id="donate">
    <p>If you like what I do, consider donating:</p>
    <a href="https://www.paypal.me/hamsteralliance">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/silver-rect-paypal-34px.png" alt="PayPal">
    </a>
    <a href="https://ko-fi.com/hamsteralliance">
        <img src="https://www.hamsteralliance.com/assets/img/kofi-button.png" alt="Ko-fi">
    </a>
    </a>
    <a href="https://venmo.com/u/hamsteralliance">
        <img src="https://www.hamsteralliance.com/assets/img/venmo-button.png" alt="Venmo">
    </a>
    </a>
    <a href="https://cash.app/$hamsteralliance">
        <img src="https://www.hamsteralliance.com/assets/img/cashapp-button.png" alt="CashApp">
    </a>
</div>
<hr> 

