<div id="downloads">
    <h2>THA DOWNLOADS</h2>
    {% for list in site.data.downloads.lists %}
    <h3>{{ list.title }}</h3>
        <ul
        {% if list.display == "inline" %}
            {% if list.title == "By Year" %}
                class="inline-downloads eight-col"
            {% else %}
                class="inline-downloads"
            {% endif %}
        {% endif %}
        >
        {% assign count = 0 %}
        {% for dl in list.downloads %}
            {% assign count = count | plus: 1 %}
            <li><a href="{{ dl.href }}">{{ dl.title }}</a></li>
        {% endfor %}
        <div class="clearfix"></div>
        </ul>    
    {% endfor %}
<hr>
