<div id="downloads">
    <h2>THA DOWNLOADS</h2>
    {% for list in site.data.downloads.lists %}
    <div id="dl-{{ list.slug }}" class="dl-area">
        <h3>{{ list.title }} <a class="expand"></a></h3>
        <ul
        {% if list.display == "inline" %}
            {% if list.title == "By Year" %}
                class="inline-downloads eight-col dl-section"
            {% else %}
                class="inline-downloads dl-section"
            {% endif %}
        {% endif %}
        >
        {% assign count = 0 %}
        {% for dl in list.downloads %}
            {% assign count = count | plus: 1 %}
            <li><a href="{{ dl.href }}">{{ dl.title }}</a></li>
        {% endfor %}
        <div class="clearfix"></div>
        </ul>
    </div>
    {% endfor %}
<hr>
