<div id="downloads">
    <h2>THA DOWNLOADS</h2>
    {% for list in site.data.downloads.lists %}
        <h3>
            <input type="checkbox" id="menu">
            <label for="menu">{{ list.title }}</label>
            <div class="menu-content">
        </h3>
        <ul
        {% if list.display == "inline" %}
            {% if list.title == "By Year" %}
                class="inline-downloads eight-col"
            {% else %}
                class="inline-downloads"
            {% endif %}
        {% endif %}
        >
        {% assign count = 0 %}
        {% for dl in list.downloads %}
            {% assign count = count | plus: 1 %}
            <li><a href="{{ dl.href }}">{{ dl.title }}</a></li>
        {% endfor %}
        {% assign count_mod = count | modulo:2 %}
        {% if count_mod != 0 and list.display == "inline" %}
            {% assign needed = count_mod %}
            {% for num in (1...needed) %}
            <li></li>
            {% endfor %}
        {% endif %}
        <div class="clearfix"></div>
        </ul>    
    {% endfor %}
<hr>
