<head>
  <title>{{ site.title }} | {{ site.subtitle }}</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/fontello.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <meta name="google-site-verification" content="vlJ0qBzi_UvF882dE_hXe2SCvqF3SuWfCG80ZC0ARlE" />
  <script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "MusicGroup",
  "name" : "The Hamster Alliance",
  "alternateName" : [ "hamsteralliance",
  "Hamst3r" ],
  "musicGroupMember" : "Jamez Gillman",
  "description" : "The Hamster Alliance is the one man music project started in 1997 by Jamez Gillman AKA Hamst3r. Hamst3r was also involved in the creation of the music software Ezmuze for XBOX 360.",
  "image": [
    "https://raw.githubusercontent.com/Hamst3r/THA/master/assets/img/THA-logo.png",
    "https://raw.githubusercontent.com/Hamst3r/THA/master/assets/img/THA-2017.jpg",
    "https://raw.githubusercontent.com/Hamst3r/THA/master/assets/img/THA-2013.jpg",
    "https://raw.githubusercontent.com/Hamst3r/THA/master/assets/img/THA-2011.jpg"
   ],
  "url" : "https://www.hamsteralliance.com",
  "sameAs" : [ "https://twitter.com/hamst3r",
      "https://www.youtube.com/hamsteralliance",
      "https://soundcloud.com/hamsteralliance",
      "https://www.facebook.com/hamsteralliance",
      "https://plus.google.com/+JamezHamster",
      "https://www.giantbomb.com/jamez-gillman/3040-90994/",
      "http://www.imdb.com/name/nm1158256/" ] 
}
</script>
</head>
