---
---

@import 'dbt/base.scss';

/* Colors */

$BG-1:#262c31;
$BG-2:#2b343d;
$BG-3:#424850;

$AC-1:#1f77cf;
$AC-2:#f6fa1e;
$AC-3:#82c0ff;
$AC-4:#626583;

$TX-1:#eee;
$TX-2:#bfcede;

/* Viewport */

html, body {
    height:100%;
    min-height:100%;
}

body {
    background:linear-gradient(to bottom, $BG-1, lighten($BG-1, 10%));
    background-attachment:fixed;
    font-family:'Roboto', sans-serif;
    color:$TX-1;
    @include media-range($media-m, min) {
    }
    @include media-range($media-m, max) {
        padding:1rem;
    }

}

/* Typography */

p:last-child {
    margin-bottom:0;        
}

h1, h2 {
    font-weight:bold;
    color:$TX-2;
}

h3 {
    font-weight:bold;
}

a {
    color:$AC-3;
    font-weight:bold;
    text-decoration:none;
}

a:hover {
    color:#FFF;
}

hr {
    display:block;
    border:0;
    border-top:1px solid rgba($AC-3,.25);
    margin:1em 0;
    width:100%;
}

.links {
    li {
        display:inline;
        margin:0 1em 0 0;
    }
    li:last-child {
        margin:0;
    }
    a {
        font-weight:bold;
    }
}

/* Site Grid */

#container {
    @include media-range($media-m, max) {
        display:flex;
        flex-direction:column;
    }
    @include media-range($media-m, min) {
        display:block;
    }
}

$grid-unit: percentage(1/15);

#container > .column {
    @include media-range($media-m, max) {
        display:block;
    }
    @include media-range($media-m, min) {
        float:left;
        vertical-align:top;
        box-sizing:border-box;
        min-height:100vh;
        max-height:100vh;
    }
}

#col-edge, #col-panel {
    @include media-range($media-m, min) {
        position:fixed;
        background:linear-gradient(to bottom, $BG-2, lighten($BG-2, 10%));
        box-shadow:0px 0px 16px rgba($AC-1, .5);
        height:100%;
    }
}

#col-edge {
    @include media-range($media-m, max) {
        display:none;
    }
    @include media-range($media-m, min) {
        display:block;
        left:0;
        top:0;
        width:$grid-unit;
        border-right:1px solid $AC-3;
    }
}

#col-main {
    @include media-range($media-m, min) {
        height:100%;
        min-height:100%;
        max-height:100%;
        display:block;
        width:$grid-unit * 7;
        margin-left:$grid-unit;
        box-sizing:border-box;
        padding:2rem;
    }
    @include media-range($media-m, max) {
    }
}

#col-panel {
    @include media-range($media-m, max) {
    }
    @include media-range($media-m, min) {
        display:flex;
        top:0;
        right:0;
        width:$grid-unit * 7;
        border-left:1px solid $AC-3;
        padding:2rem calc(2rem + 6.66667%) 2rem 2rem;
        flex-direction:column;
        height:100%;
    }
}

/* Header */

#header {
    margin-bottom:1rem;
}

.site-title {
    color:$TX-1;
}

.site-subtitle {
    color:$TX-2;
    letter-spacing:.25em;
}

#main-links {
    display:block;
    text-align:center;
    @include media-range($media-m,min) {
        a {
            color:rgba($TX-2, .75);
        }
    }
}

/* Text boxes */

.box {
    background:$BG-3;
    border:1px solid $AC-4;
    box-shadow:0px 0px 8px rgba($AC-4,.125);
    box-sizing:border-box;
    padding:1em;
    margin-bottom:1em;
    p {
        line-height:1.25em;
    }
}

#box-about {
    background:
        url('../img/logo_cropped.png'),
        linear-gradient(to top, $BG-3, darken($BG-3,3%));
    background-size:contain;
    background-position:right center, center center;
    background-repeat:no-repeat, repeat-x;
    padding-right:calc(11% + 1em);
}

/* Tool table */

#tool-table {
    border-collapse:separate;
    border-spacing:4px;
    table-layout:fixed;
    width:100%;
    .row.table {
        table-layout:fixed;
    }
    .table {
        margin-bottom:-3px
    }
    .column {
        background:lighten($BG-3,3%);
        border:1px solid rgba($AC-3,.125);
        box-sizing:border-box;
    }
    .cell-inner {
        box-sizing:border-box;
        margin:1rem;
    }
    h3 {
        font-size:1rem;
    }
    li {
        margin-bottom:.5rem;
        margin-left:1em;
    }
    p {
        line-height:1.5em;
    }
}

/* Shoutbox */

#shoutbox {
    width:100%;
    min-height:24em;
    height:25vh;
    box-shadow:0px 0px 8px rgba($AC-4,.125);
    box-sizing:border-box;
}

/* Other Links */

.other-links {
    display:block;
    text-align:center;
    width:100%;
    line-height:1.5em;
    margin-bottom:.5rem;
    li {
        display:inline;
        margin-right:.5em;
        margin-left:0;
    }
    @include media-range($media-m,max) {
        a {
            color:rgba($TX-2, .75);
        }
    }
}

#header .other-links, #header .other-links-hr {
    @include media-range($media-m, min) {
        display:none;
    }
}

#col-panel .other-links {
    @include media-range($media-m, max) {
        display:none;
    }
}

.other-links-promo {
    text-align:center;
}

#header .other-links-promo {
    display:none;
}

#col-panel .other-links-promo {
    @include media-range($media-m, max) {
        display:none;
    }
}


/* Radio */

#radio {
    display:none;
}

#radio-header {
}

#radio-controls {
    display:table;
    width:auto;
    margin-bottom:1.5rem;
}

.radio-control {
    white-space:nowrap;
    display:table-cell;
    vertical-align:top;
}

#radio-buttons {
    padding-right:1em;
}

#radio-seek {
    position:relative;
    height:1em;
    width:100%;
    margin:0 4px;
}

#radio-seek:before {
    content:' ';
    position:absolute;
    top:50%;
    width:100%;
    left:0;
    height:2px;
    background:rgba(#000,.25);
    pointer-events:none;
}

#radio-seek-current {
    content:' ';
    position:absolute;
    top:50%;
    left:0;
    width:0px;
    height:2px;
    background:$AC-3;
    pointer-events:none;
    box-shadow:0px 0px 16px rgba($AC-1,.5);
    transition:width .1s;
}

#radio-seek-current:after {
    content:' ';
    display:block;
    position:absolute;
    width:.25em;
    height:.25em;
    right:0;
    top:calc(-.125em + 1px);
    background:#FFF;
    border-radius:99px;
    box-shadow:0px 0px 8px $AC-1, 0px 0px 8px $AC-1;
}

#radio-time {
    width:auto;
    padding-left:1em;
}

#radio-current-time {
    margin-right:.5em;
}

#radio-total-time {
    margin-left:.5em;
}

.indicator {
    margin-left:0;
    margin-right:0;
    text-shadow:0px 0px 16px $AC-2;
}

.indicator.icon-listen {
    margin-right:.5em;
}

/* Playlist */

#playlist {
    @include media-range($media-m, max) {
        max-height:16em;
        flex:0 1 auto;
        margin-bottom:1rem;
    }
    @include media-range($media-m, min) {
        min-height:8em;
        flex:1 1 auto;
    }
    ol {
        margin-bottom:0;
        padding-bottom:0;
    }
    overflow-y:scroll;
    background:$BG-3;
    border:1px solid $AC-4;
    box-shadow:0px 0px 8px rgba($AC-4,.125);
    box-sizing:border-box;
    a {
        color:$TX-1;
    }
    li {
        display:block;
        position:relative;
        margin:0;
        counter-increment: item;
        padding:1rem 4rem 1rem 3rem;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
    li:after {
        content:' ';
        position:absolute;
        width:100%;
        bottom:0;
        left:0;
        height:1px;
        border-bottom:1px solid rgba($AC-4,.5);
        box-shadow:0px 0px 16px rgba($AC-4,.5);

    }
    li:before {
        content:counter(item);
        position:absolute;
        top:1rem;
        left:.5rem;
        width:3rem;
        color:rgba($TX-1,.5);
    }
    li:nth-child(2n) {
        background:lighten($BG-3,3%);
    }
    li .select {
        width:calc(100% - 4rem);
    }
    li .download {
        position:absolute;
        top:.5rem;
        right:1rem;
        padding:.5rem 0;
        text-align:center;
        width:2rem;
        height:2rem;
        box-sizing:border-box;
        border:1px solid $AC-4;
        box-shadow:0px 0px 2px rgba($AC-4,.5);
        background:rgba($AC-4,.5);
    }
}

/* Downloads */

#downloads {
    display:block;
    flex: 0 1 auto;
}

.inline-downloads {
    display:block;
    text-align:center;
    line-height:1.5em;
    padding:0;
    li {
        display:block;
        float:left;
        margin:0;
        padding:0;
        width:12.5%;
        text-align:center;
    }
}

.inline2-downloads {
    display:block;
    text-align:center;
    line-height:1.5em;
    padding:0;
    li {
        display:block;
        float:left;
        margin:0;
        padding:0;
        width:25%;
        text-align:center;
    }
}

.clearfix { clear:both }

/* Donate */

#donate {
    display:block;
    text-align:center;
    margin-bottom:1em;
}

/* Footer */

#footer {
    display:block;
    text-align:center;
    color:$TX-2;
    a {
        color:$TX-2;
    }
}
